<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>quiz.QuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizServletWithoutJSp</servlet-name>
        <servlet-class>QuizServletWithoutJSp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JspQuizServlet</servlet-name>
        <servlet-class>quiz.JspQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumberQuizServlet</servlet-name>
        <servlet-class>quiz.NumberQuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/QuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizServletWithoutJSp</servlet-name>
        <url-pattern>/QuizServletWithoutJSp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JspQuizServlet</servlet-name>
        <url-pattern>/JspQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumberQuizServlet</servlet-name>
        <url-pattern>/NQ</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
